.tieu-de {
    color: red;
}

.van-ban-do {
    color: rgb(239, 38, 12);
}

.van-ban-xanh {
    color: blue;
}

.nhom-do {
    color: red;
}

.nhom-xanh-duong {
    color: blue;
}

.nhom-xanh-la {
    color: green;
}

.nhom-tim {
    color: purple;
}

.nhom-cam {
    color: orange;
}

.nhom-hinh-anh {
    color: brown;
}